:root {
  --basic-white: #ffffff;
  --basic-red: #fb565a;
  --basic-cursor-red: #e74246;
  --basic-pressing-red: #d7373b;
  --basic-green: #00ca74;
  --basic-cursor-green: #00bc6c;
  --basic-pressing-green: #00aa62;
  --basic-yellow: #efc84a;
  --basic-cursor-yellow: #eab534;
  --basic-pressing-yellow: #e5a722;
  --basic-gray: #eeeeee;
  --basic-cursor-gray: #dfdfdf;
  --basic-pressing-gray: #d5d5d5;
  --basic-black: #000000;
  --basic-lightblack: #4d4d4d;
  --basic-lightgray: #d7dcde;
  --basic-color-catalog-paragraph: #666666;
}
.page-body {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.page-body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
.container {
  width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-header {
  background-color: var(--basic-gray);
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  display: grid;
  grid-template-columns: 159px 1fr min-content;
  gap: 45px;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: transparent;
}

.list-reset {
  list-style: none;
}
.site-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  margin: 0;
  padding: 0;
}

.site-navigation a,
.user-list a {
  color: var(--basic-black);
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-list a:hover,
.user-list a:focus {
  background-color: var(--basic-gray);
  color: var(--basic-cursor-red);
}
.site-navigation a:active,
.user-list a:active {
  color: var(--basic-pressing-gray);
}
.slider-section {
  background-color: var(--basic-gray);
  margin-bottom: 80px;
}
.slider-container {
  order: -1;
}
.slider-grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
}
.slider-item .slider-title {
  font-size: 55px;
  line-height: 55px;
}
.features {
  padding: 0;
  margin-bottom: 80px;
}
.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  padding: 0;
  margin: 0;
}
.features-item {
  text-align: left;
  width: 300px;
}
.features-item .features-title {
  font-size: 24px;
  line-height: 30px;
}
.description {
  margin-bottom: 75px;
}
.description-columns {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 150px;
  margin: 0;
  padding: 0;
}
.desc-list {
  text-align: left;
}
.description-item b {
  font-size: 16px;
  line-height: 24px;
}
.desc-list-2 {
  text-align: center;
}

.description-item-2 b {
  font-size: 45px;
  line-height: 64px;
}
.partners {
  margin-bottom: 80px;
}
.partners-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 100px;
  height: 180px;
}
.features,
.description {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.button {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  border: none;
}
.button:hover {
  background-color: var(--basic-cursor-red);
}
.button:active {
  background-color: var(--basic-pressing-red);
}
.feature-button {
  font: inherit;
  color: var(--basic-white);
  background-color: var(--basic-red);
}
.feature-button:hover {
  background-color: var(--basic-cursor-red);
}
.feature-button:active {
  background-color: var(--basic-pressing-red);
}
.feature-button-green {
  background-color: var(--basic-green);
}
.feature-button-green:hover {
  background-color: var(--basic-cursor-green);
}
.feature-button-green:active {
  background-color: var(--basic-pressing-green);
}
.feature-button-yellow {
  background-color: var(--basic-yellow);
}
.feature-button-yellow:hover {
  background-color: var(--basic-cursor-yellow);
}
.feature-button-yellow:active {
  background-color: var(--basic-pressing-yellow);
}
.page-footer {
  display: grid;
  grid-template-rows: 2fr 1fr;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.social-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.social-list {
  width: 100px;
  order: -1;
}
.social-list h2 {
  font-size: 36px;
  line-height: 36px;
}
.social-list p {
  font-size: 16px;
  line-height: 22px;
}

.social-link:hover {
  background-color: var(--basic-cursor-red);
}
.social-link:active {
  background-color: var(--basic-pressing-red);
}
.modal {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.modal h2 {
  font-size: 45px;
  line-height: 1;
}
.contact-form-item input {
  font: inherit;
  background-color: transparent;
  border: 2px solid var(--basic-lightgray);
}
.contact-form-item input:focus {
  border-color: var(--basic-black);
}
.contact-form-item {
  font: inherit;
}
.grid-container-catalog {
  display: grid;
  width: 100%;
  grid-template-columns: 260px 1fr;
  gap: 140px;
}
.container-catalog {
  padding-top: 72px;
  margin-top: 0;
  padding-bottom: 110px;
  background-color: var(--basic-gray);
}
.title-catalog {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  vertical-align: middle;
}

.sorting-button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
}
.catalog-section .title-sorting-list {
  font-size: 18px;
  line-height: 30px;
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 42px;
  row-gap: 72px;
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
}
.title-filter {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}
.form-section fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.form-section fieldset:first-child {
  margin-bottom: 54px;
}
.form-section fieldset:last-child {
  margin-bottom: 50px;
}
.form-label {
  font-size: 16px;
  line-height: 19px;
}
.min-price,
.max-price {
  font-size: 16px;
  line-height: 22px;
}
.form-submit-button,
.pagination-item {
  background-color: var(--basic-gray);
  color: var(--basic-black);
}
.form-submit-button:hover,
.pagination-item:hover {
  background-color: var(--basic-cursor-gray);
}
.form-submit-button:active,
.pagination-item:active {
  background-color: var(--basic-pressing-gray);
}
.pagination-list {
  display: flex;
  justify-content: flex-start;
  gap: 11px;
  margin: 0;
  padding: 0;
}
.pagination-item a {
  color: var(--basic-black);
}
.catalog-item {
  min-width: 360px;
  min-height: 580px;
}
.catalog-item img {
  width: 360px;
  height: 580px;
}
.catalog-item .catalog-item-description {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-color-catalog-paragraph);
}
.catalog-item:hover {
  background-color: var(--basic-gray);
}
.catalog-item .catalog-item-name {
  color: var(--basic-black);
}
.catalog-item .catalog-item-name:hover {
  color: var(--basic-red);
}
