:root {
 --basic-red: FB565A;
 --basic-cursor-red: E74246;
 --basic-pressing-red: D7373B;
 --basic-green: 00CA74;
 --basic-cursor-green: 00BC6C;
 --basic-pressing-green: 00AA62;
 --basic-yellow: EFC84A;
 --basic-cursor-yellow: EAB534;
 --basic-pressing-yellow: E5A722;
 --basic-gray: EEEEEE;
 --basic-cursor-gray: DFDFDF;
 --basic-pressing-gray: D5D5D5;
 --basic-black: 000000;
 --basic-lightblack-: 4D4D4D;

    
} 